@using CityApp.Utils.Helpers
<nav aria-label="breadcrumb">
    <ol class="breadcrumb shadow-sm">
        <li class="breadcrumb-item"> <a href="javascript:onclick=vehicleTab()" id="vehicleTab"> Vehicle </a> </li>
        <li class="breadcrumb-item"> <a href="javascript:onclick=transactionTab()" id="transactionTab"> Transaction </a></li>
    </ol>
</nav>

<script>
    const mainController = "@ConstantHelper.VEHICLE_CONTROLLER";
    const mainID = "@Url.RequestContext.RouteData.Values["id"]".replace(" ", "");

    const customerTab = () => location.href = mainController + "/view/" + mainID;
    const vehicleTab = () => location.href = mainController + "/vehicletab/" + mainID;
    const transactionTab = () => location.href = mainController + "/transactionTab/" + mainID;
</script>