<nav aria-label="breadcrumb">
    <ol class="breadcrumb shadow-sm">
        <li class="breadcrumb-item"> <a href="javascript:onclick=vehicleTab()" id="vehicleTab"> Vehicle </a> </li>
        <li class="breadcrumb-item"> <a href="javascript:onclick=transactionTab()" id="transactionTab"> Transaction </a></li>
    </ol>
</nav>