<nav aria-label="breadcrumb">
    <ol class="breadcrumb shadow-sm">
        <li class="breadcrumb-item"> <a href="javascript:onclick=customerTab()" id="customerTab"> Customer </a> </li>
        <li class="breadcrumb-item"> <a href="javascript:onclick=favouriteDriverTab()" id="favouriteDriverTab"> Favourite Driver </a></li>
        <li class="breadcrumb-item"> <a href="javascript:onclick=ratingDriverTab()" id="ratingDriverTab"> Rating Driver </a></li>
    </ol>
</nav>